@keyframes messageZoom {
  0% {  transform: scale(0.01) rotate(0deg);}
  100%{ transform: scale(1) rotate(0deg);}
}
@keyframes titleMunch {
  40% {  clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  60%{ clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes slideRight {
  0% {  transform: translateX(-100%) rotate(0deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  100%{ transform: translateX(0) rotate(0deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes slideDown {
  0% {  transform: translateY(-100%) rotate(90deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  100%{ transform: translateY(0) rotate(90deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes slideLeft {
  0% {  transform: translateX(100%) rotate(180deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  100%{ transform: translateX(0) rotate(180deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes slideUp {
  0% {  transform: translateY(100%) rotate(270deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  100%{ transform: translateY(0) rotate(270deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes dead {
  0% {  background-color: rgba(255, 217, 21, 1);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  10%{  clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  25%{  clip-path: polygon(75% 0, 50% 50%, 75% 100%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  75%{  background-color: rgba(255, 217, 21, 1);
        clip-path: polygon(10% 0, 50% 50%, 10% 100%, 0 100%, 0 100%, 0 0, 0 0);}
  100%{ background-color: rgba(255, 217, 21, 0);
        clip-path: polygon(0 50%, 50% 50%, 0 50%, 0 100%, 0 100%, 0 0, 0 0);}
}

@keyframes ghostSlideRight {
  0% {  transform: translateX(-100%);}
  100%{ transform: translateX(0);}
}
@keyframes ghostSlideDown {
  0% {  transform: translateY(-100%);}
  100%{ transform: translateY(0);}
}
@keyframes ghostSlideLeft {
  0% {  transform: translateX(100%);}
  100%{ transform: translateX(0);}
}
@keyframes ghostSlideUp {
  0% {  transform: translateY(100%);}
  100%{ transform: translateY(0);}
}